body{
    text-align: center;
    background-color: #29334e;
}

.set{
    margin: 10% auto;
    display: inline-block;
}
h1{
    font-size: 2rem;
    color:rgb(201, 201, 201);
    font-family: 'Courier New', Courier, monospace;

}
.pressed{
    box-shadow: 0 3px 4px 0 #6b7f86;
    opacity: 0.5;
}
.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 5px 0 #6b7f86;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: rgb(173, 238, 222);
  }
footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }